<nav class="navbar">
    <div class="nav-content">
        <!-- Logo Pokebola -->
        <a href="{{ url_for('home') }}" class="nav-logo" title="Pokédex Home">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" 
                 alt="Pokeball" 
                 class="nav-pokeball">
        </a>
        <a class="nav-link" href="{{ url_for('home') }}">Buscar Pokémon</a>
        <a class="nav-link" href="{{ url_for('pokemon_list') }}">Lista Pokemones</a>
        <a class="nav-link" href="{{ url_for('about') }}">Sobre la Pokédex</a>
    </div>
</nav>
